*{
  font-family: 'helvetica';
  color: #ffffff;
  line-height: 25px;
}

.App{
  border:0;
  margin:0;
  padding: 10px;
}

.appInputDiv{
  margin: 20px 50px;
  height: 40px;
}

.appInput{
  height: 30px;
  width: 70%;
  padding-left: 10px;
  background-color: #303030;
  color: #ffffff;
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 15px;
}

