.issueTileContainer
{
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 7px; 
}

span {
    padding-left: 15px;
    font-size: 11px;
}

.title{
    padding-left: 10px;
    font-size: 18px;
}